.foodList{
    height: 200px;
    width: 200px;
margin: auto;
    font-style: oblique;
    background-color: rgb(126, 34, 110);
}
.outerLook{
    background-color: rgb(242, 201, 245);
    height: 500;
}